<!DOCTYPE html>
<html lang="en">
  <head>

    <% include partials/head %>

  </head>
  <body>
   	<% include partials/nav %>

   	<h1>This is your new index page.</h1>

  	<div class="title">
  	    <%= title %>
  	</div>
    
  </body>
</html>




